<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>IC</title>
    <style>
    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }
    table#t01 tr:nth-child(odd) {
        background-color: #fff;
    }
    table#t01 th {
        color: white;
        background-color: black;
    }
    </style>

</head>
<body>
<form name="input" action="/" method="post">
Name: <input type="text" name="name">
<input type="submit" value="Submit">
</form>
<table id="t01" style="width:100%">
    <tr>
        <th>IC</th>
        <th>Name</th>
        <th>Address</th>
    </tr>
    {% for p in persons %}
    <tr>
        <td>{{ p.ic }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.address }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>